/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #673ab7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #673ab7;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

/* Navigation */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-size: 1rem;
  color: white;
  font-family: Charter;
}

/* Explore Page */
.ExplorePage {
  padding: 20px;
  width: 75%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 7px;
}

.grid-item {
  background-color: #fff9f9;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: -2px 8px 10px 2px rgba(0, 0, 0, 0.1);
}

/* Book Review Page */
.BookReviewPage {
  padding: 20px;
}

.BookReviewPage img {
  max-width: 100%;
}

.BookReviewPage h2 {
  font-size: 2rem;
  margin-top: 20px;
}

.BookReviewPage p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.BookReviewPage textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.BookReviewPage button {
  background-color: #673ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
}

.BookReviewPage button:hover {
  background-color: #512da8;
}

/* MyReviews Page */
.MyReviewsPage {
  padding: 20px;
}

.Navbar {
  background-color: black;
  font: Charter;
  color: white;
  display: flex;
  position: fixed;
  top:0;
  width: 100%;
  border-bottom-right-radius:6px;  
  border-bottom-left-radius:6px;
  justify-content: space-between; 
  z-index: 100;
  height: 70px;
  padding-left: 10px;
  padding-top: 5px;
}

.logo {
  height: 70px;
  width: 120px;
}

.navLeft {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navItem {
  padding-right: 50px;
  padding-left: 50px;
}
/* 
.navItem.active a {
  color: #909090
} */

.searchField {
  margin: 10px;
  margin-top: 30px;
  height: 30px;
  font-family: Charter;
  padding: 5px;
  padding-left: 15px;
  color: black;
  text-decoration: black;
  font-size: 1em;
  width: 550px;
}

input::placeholder{
  color: #000;
}

p {
  font-family: Charter;
  color: black;
}

.bookTitle {
  font-size: 1.1em;
}

.searchDiv {
  margin: auto;
  width: 750px;
  margin-bottom: 20px;
}

.submitButton {
  border: none;
  background-color: #DEDEDE;
  padding: 10px; 
  width: 140px;
  font-family: Charter;
  font-size: 0.9em;
  border-radius: 5px;
  height: 45px;
}

.submitButton:hover {
  background-color: #c9c9c9;
}

.sign-out-button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  scale: 0.35;
}

.loginPage {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.loginLogo {
  scale: 0.66;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  position: relative;
  margin-top: 30px;
}

.loginContainer {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.loginForm {
  width: 300px;
}

.loginField {
  margin: 10px;
  height: 30px;
  font-family: Charter;
  padding: 5px;
  padding-left: 15px;
  color: black;
  text-decoration: black;
  font-size: 1em;
  width: 610px;
}

.whiteText {
  color: white;
  text-align: center;
  font-size: 0.8em;
}

.loginButton {
  border: none;
  background-color: white;
  padding: 10px; 
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 85%;
  width: 140px;
  font-family: Charter;
  font-size: 0.9em;
  border-radius: 2px;
  height: 35px;
}

.loginButton:hover {
  background-color: #c9c9c9;
}